<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> -->


<div id="map" style="width: 960px; height: 610px">
</div>

<script type="text/ecmascript">
  ;(function (w, $) {
    if (w.locator.Map) {
      let map = new w.locator.Map({
        lat: <%= Moscow::COORDS[:lat] %>,
        long: <%= Moscow::COORDS[:long] %>
      }, "<%= home_near_houses_path %>")

      ymaps.ready(map.addMap.bind(map));
    } else {
      throw "Locator Map class not found!"
    }
  })(window, jQuery);

</script>
