<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> -->


<div id="map" style="width: 600px; height: 400px">

</div>


<%= Yandex::Geocoder::V1x::Client %>


<script type="text/javascript">
  ;(function (w, $) {
    if (w.locator.Map) {
      // new w.locator.Map().subscribe();
    } else {
      throw "Locator Map class not found!"
    }
  })(window, jQuery);

</script>
